<template>
  <div id="app">
    <h1>Components</h1>
    <h2>Button</h2>
    <tsp-button></tsp-button>
    <h2>Badge</h2>
    <tsp-badge></tsp-badge>
    <h2>Alert</h2>
    <tsp-alert></tsp-alert>
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
