<template>
    <div class="tsp-alert">
        sample alert
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "TspAlert"
    }
</script>

<style scoped>
    .tsp-alert {
        border: 1px solid red;
        color: red;
        background-color: #ffe2ee;
        padding: 4px 6px;
    }
</style>