<template>
    <button @click="buttonClicked">
        <slot>Submit</slot>
    </button>
</template>

<script>
    export default {
        name: "TspButton",
        methods: {
            buttonClicked() {
                alert("TSP");
            }
        }
    }
</script>

<style scoped>

</style>