<template>
    <span class="tsp-badge">
        <slot>sample badge</slot>
    </span>
</template>

<script>
    export default {
        name: "TspBadge"
    }
</script>

<style scoped>
    .tsp-badge {
        background-color: green;
        color: white;
        padding: 3px 4.5px;
    }
</style>