<template>
<!--    <b-container>-->
<!--        <b-row>-->
<!--            <b-col>col-1</b-col>-->
<!--            <b-col>col-2</b-col>-->
<!--        </b-row>-->
<!--    </b-container>-->
<!--    <div>test 2</div>-->
<!--    <pulse-loader :loading="loading"></pulse-loader>-->
    <div>test</div>
</template>

<script>
    var PulseLoader = window.VueSpinner.PulseLoader
    export default {
        name: "TspTest",
        data() {
            return {
                loading: true,
            }
        },
        components: {
            PulseLoader
        }
    }
</script>

<style scoped>

</style>