<template>
    <div id="app">
        <TspButton>Hello</TspButton>
        <TspTest></TspTest>

<!--        <div id="panda">{{ message }}-->
<!--            <b-alert show>helll</b-alert>-->
<!--            <b-container>-->
<!--                <b-row>-->
<!--                    <b-col>col-1</b-col>-->
<!--                    <b-col>col-2</b-col>-->
<!--                </b-row>-->
<!--            </b-container>-->
<!--        </div>-->
<!--        <tab-home></tab-home>-->
    </div>
</template>

<script>
  import TspButton from "@/components/TspButton";

  import TspTest from "@/components/TspTest";

  export default {
        name: 'App',
        components: {
            TspButton,
            TspTest
        }
    }
</script>

<style>
    #app {
    }
</style>
